<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsw.web.dao.BoardDAO">

	<select id="boardList" resultType="com.hsw.web.dto.BoardDTO">
		SELECT ff.*, m.m_id , m.m_name
		FROM(
		SELECT @ROWNUM:=@ROWNUM+1 AS rowNum, bb.*, (SELECT COUNT(*) FROM board WHERE
		bdel=1) AS COUNT
		FROM (SELECT b.* FROM board b, (SELECT @ROWNUM:=0) AS R) bb
		WHERE bdel=1
		ORDER BY bb.bno ASC
		) as ff join members m on ff.m_no = m.m_no
		order by bno desc
		LIMIT 0, 10
	</select>

	<select id="detail" parameterType="Integer"
		resultType="BoardDTO">
		select bcontent, uuid, bip from boardview where bno=#{bno}
	</select>

	<insert id="write" parameterType="BoardDTO">
		insert into board (btitle,
		bcontent, m_no, bip, uuid)
		values(#{btitle}, #{bcontent}, (select m_no
		from members where m_id = #{m_id}), #{bip}, #{uuid})
	</insert>

	<update id="readUp" parameterType="Integer">
		update board set blike = blike
		+ 1 where bno=#{bno}
	</update>

	<update id="delete" parameterType="BoardDTO">
		update board set bdel = 0
		where bno=#{bno} and uuid=#{uuid}
	</update>
	
	<select id="detail2" parameterType="Integer" resultType="BoardDTO">
		select * from boardview where bno = #{bno}
	</select>
</mapper>