@charset "UTF-8";
body{
	margin:0;
	padding:0;
}
.container{
	width: 100%;
	height: 100vh;
}
.menu{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 50px;
	height: 100vh;
	float: left;
	background-color: red;
	overflow: hidden;
}
.menu:hover{
	width: 200px;
	transition: 0.2s;
}
.menu-item{
	width: 195px;
	margin: 5px;
	color: white;
	box-sizing: border-box;
	line-height: 50px;
	padding-left: 5px;
	overflow: hidden; /* 박스 바깥으로 삐져나오는 것들을 숨겨줍니다. */
}
.menu-item i{
	margin-top: -5px;
	vertical-align: middle; /* 요소를 수직으로 가운데 정렬합니다. */
	margin-right: 10px;
}
.menu-item:hover{
	width: 195px;
	height: 50px;
	margin-left: 5px;
	background-color: #c0c0c0;
	box-sizing: border-box;
	border-radius: 10px;
}
.main{
	margin-left: 50px;
	width: calc(100% - 53px);
	height: 100vh;
	float: right;
}

.article{
	width: calc(100% -20px);
	min-height: calc(100vh - 20px);
	height: auto;
	margin: 10px;
	box-sizing: border-box;
	text-align: center;
}
h1{
	margin-top: 0;
}
.box{
	width: 100px;
	height: 100px;
	/* padding: 10px; */
	text-align: center;
	line-height: 100px;
	border-radius: 50%;
	overflow: hidden;
	border: 0px;
	background-color: yellow;
	margin: 150px;
	float: left;
}
.box:hover{
	font-size: large;
	font-weight: bolder;
	margin: 0;
	height: 200px;
	width: 200px;
	line-height: 100px;
	transition: 0.2s;
	border-radius: 20px;
	margin: 50px;
}
#comment{
	width: 100%;
	height: 100px;
	padding: 5px;
	line-height: 30px;
	overflow: visible;
	animation: fadeInup 1s;
}